# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log

# Azure Functions / .NET
bin/
obj/
local.settings.json
*.user
*.suo

# Python / notebooks
.ipynb_checkpoints/
__pycache__/
*.pyc

# OS
.DS_Store